html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:14px;
    line-height: 15px;
    min-height: 100vh;
    min-width: 768px;
    display:flex;
    justify-content: center;
    align-items: center;
    
    * {
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
}

.almost-zero-animation {
    transition-duration: 0.001s !important;
}
